
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <div class="back-shadow">
      <div></div>
    </div>
    <div class="container-prof">
      <div class="head-profile">
        <div class="back-img">
          <img src="../src/users/[[${userDTO.name}]]/anime-girl.jpg" alt="">
        </div>

        <div id="img_profile" class="img-profile">
          <img id="img_profile_img" th:src="@{'http://chanhee-kit.s3-website.ap-northeast-2.amazonaws.com/static/'+${userDTO.profile_image}}" alt="">
        </div>
        <div class="username">
          <div class="span">[[${userDTO.name}]]</div>
        </div>

        <div class="about">
          <p id="textarea" >안녕하세요</p>
          <br>
        </div>

      </div>
      <div class="option-profile">

      </div>
    </div>
  </th:block>
</th:block>


</html>
